@import "./reset";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');
@import "./variable";
@import "./todoList";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $primary-color;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background:  #eef0f5;
}
